<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-8422-1642843537/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_bonus = pd.read_csv('RegularSeasonCompactResults.csv')

In [10]:
df_bonus.shape

(182267, 8)

In [11]:
df_bonus.dtypes

Season      int64
Daynum    float64
Wteam       int64
Wscore      int64
Lteam      object
Lscore      int64
Wloc       object
Numot     float64
dtype: object

In [12]:
df_bonus.head(3)

   Season  Daynum  Wteam  Wscore Lteam  Lscore Wloc  Numot
0    1985    20.0   1228      81  1328      64    N    0.0
1    1985    25.0   1106      77  1354      70    H    0.0
2    1985    25.0   1112      63  1223      56    H    0.0

In [13]:
len(df_bonus)

182267

In [14]:
len(df_bonus.columns)

8

In [15]:
print(df_bonus.columns)

Index(['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc',
       'Numot'],
      dtype='object')

In [25]:
df_bonus.isnull()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore   Wloc  Numot
0        False   False  False   False  False   False  False  False
1        False   False  False   False  False   False  False  False
2        False   False  False   False  False   False  False  False
3        False   False  False   False  False   False  False  False
4        False   False  False   False  False   False  False  False
...        ...     ...    ...     ...    ...     ...    ...    ...
182262   False   False  False   False  False   False  False  False
182263   False   False  False   False  False   False  False  False
182264   False   False  False   False  False   False  False  False
182265   False   False  False   False  False   False  False  False
182266   False   False  False   False  False   False  False  False

[182267 rows x 8 columns]

In [24]:
df_bonus.quantile()

Season    2000.0
Daynum      79.0
Wteam     1284.0
Wscore      76.0
Lscore      64.0
Numot        0.0
Name: 0.5, dtype: float64

In [23]:
df_bonus.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Season    2000.895681
Daynum      75.946611
Wteam     1286.878804
Wscore      76.782692
Lscore      64.615465
Numot        0.041346
dtype: float64

In [22]:
df_bonus.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Season      8.429344
Daynum     32.915570
Wteam     104.527815
Wscore     12.151566
Lscore     11.339712
Numot       0.238991
dtype: float64

In [27]:
df_bonus.loc[0:3,['Season','Daynum','Wteam']]

   Season  Daynum  Wteam
0    1985    20.0   1228
1    1985    25.0   1106
2    1985    25.0   1112
3    1985    25.0   1165